/* ---------- Loader ---------- */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #F5F6F7;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.loader div {
    width: 18px;
    height: 18px;
    background: #0096c7;
    border-radius: 50%;
    animation: bounce 0.6s infinite alternate;
}

.loader div:nth-child(1) {
    animation-delay: 0s;
}

.loader div:nth-child(2) {
    animation-delay: 0.1s;
}

.loader div:nth-child(3) {
    animation-delay: 0.2s;
}

.loader div:nth-child(4) {
    animation-delay: 0.3s;
}

.loader div:nth-child(5) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        transform: translateY(-8px);
        opacity: 0.6;
    }
}

/* -------------------- Fingerprint Enrollment Styles -------------------- */
.content{
    background: #fff;
    padding: 30px 40px;
    border-radius: 6px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 1);
    border: 1px solid #ccc;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: #0047ab;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px;
}

form label {
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
    color: #555;
}

form select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
    margin-bottom: 20px;
    transition: border 0.3s;
}

form select:focus {
    border-color: #007bff;
    outline: none;
}

video {
    display: block;
    margin: 0 50px;
    border: 2px solid #007bff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.hahaha {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffc107;
    color: #fff;
}

.hahaha:hover {
    background-color: #e0a800;
    text-decoration: underline;
}

.hahahaha {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 13px;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #0047ab;
    color: #fff;
}

.hahahaha:hover {
    background-color: #0096c7;
    text-decoration: underline;
}

p {
    text-align: center;
    font-size: 16px;
    color: #555;
    margin-top: 30px;
}

.fingerprint-container {
    position: relative;
    width: 520px;
    height: 350px;
    margin-bottom: 15px;
}

#fp-square {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 3px dashed #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.fp-warning, .fp-success {
    margin-top: 10px;
    padding: 8px 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: 500;
    display: none;
    width: 100%;
    max-width: 550px;
}
.fp-warning { background-color: #dc3545; color: #fff; }
.fp-success { background-color: #28a745; color: #fff; }